# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Pipemania.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kalle\RiderProjects\Pipemania\.idea\.idea.Pipemania\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
